<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ng-content></ng-content>
  <a class="navbar-brand" href="#">{{projectName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-item nav-link" routerLink="/home">{{'HEADER.INFORMATION' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/events">{{'HEADER.EVENTS' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/rating/events">{{'HEADER.RATING' | translate }}</a>
      </li>
      <button class="btn btn-primary" (click)="useLanguage('en')">en</button>
      <button class="btn btn-primary" (click)="useLanguage('ua')">ua</button>
    </ul>
    <div class="my-lg-0">
      <sign-in></sign-in>
    </div>
  </div>
</nav>
<br>
<router-outlet></router-outlet>
