<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'SIGN_IN_FORM.SIGN_IN' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="authorization" method="post" name="signIn">
      <div class="form-group">
        <label for="inputLogin">{{'SIGN_IN_FORM.LOGIN' | translate }}</label>
        <input type="text" class="form-control" id="inputLogin" name="inputLogin"
               placeholder="{{'SIGN_IN_FORM.LOGIN_INPUT_INFO' | translate }}">
      </div>
      <div class="form-group">
        <label for="inputPassword">{{'SIGN_IN_FORM.PASSWORD' | translate }}</label>
        <input type="password" class="form-control" id="inputPassword"
               name="inputPassword" placeholder="{{'SIGN_IN_FORM.PASSWORD_INPUT_INFO' | translate }}">
      </div>
      <button type="submit" class="btn btn-primary">
        {{'SIGN_IN_FORM.SIGN_IN_BUTTON' | translate }}
      </button>
    </form>
  </div>
  <div class="modal-footer">
    <a class="nav-link" routerLink="/signup">
      <button type="button" class="btn btn-primary">
        {{'SIGN_IN_FORM.SIGN_UP_BUTTON' | translate }}
      </button>
    </a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c('Close click')">
      {{'SIGN_IN_FORM.CLOSE' | translate }}
    </button>
  </div>
</ng-template>

<ul class="navbar-nav mr-auto">
  <li class="nav-item" data-toggle="modal" data-target="#modal-center-sign-in">
    <a class="nav-link" href="#" (click)="open(content)">{{'HEADER.SIGN_IN' | translate }}<span class="sr-only">(current)</span></a>
  </li>
</ul>
